@media screen and (max-width: 768px) {
    .footer-company-logo {
        max-width: 80% !important;
    }

    .h1 {
        font-size: 12px;
    }

   
    .footer {

        grid-template-columns: 100%;

    }
    .footer img {
        float: none !important;
    }
}